body { 
	font-family: Nobile, Verdana, sans-serif; font-size: 12px; 
	background: #222 url(bg.png) repeat-x; 
	color: #ddd; margin: 0 auto; width: 960px;
}

h1, h2 { color: #ff6e40; }

a { color: #ddd; }

header { padding: 8px; display: block; }
header > nav { float: right; font-size: 16px; line-height: 60px; }
header > nav > a { display: inline-block; padding: 0 8px; text-decoration: none; }
header > nav > a:hover { background: rgba(255, 255, 255, 0.2); }

#logo { height: 60px; cursor: pointer; border: 0; }

#banner { height: 150px; background: #999; margin-bottom: 20px; }

.buy-now { 
	background: #a62800; color: #ccc; font-size: 20px; 
	font-weight: bold; border-radius: 4px; border: 1px solid #ccc;
	text-decoration: none; text-align: center;
	display: inline-block; padding: 4px 8px;
	float: right;
}

.buy-now:hover {
	background: #ff6e40;
}

footer { text-align: center; line-height: 40px; }
