body { 
	font-family: Nobile, Verdana, sans-serif; font-size: 12px; 
	background: #ccc url(bg.png) repeat-x; 
	color: #333; margin: 0 auto; width: 800px;
	padding-top: 8px;
}

h1, h2 { color: #ff6e40; }

a { color: #555; }

table { border: 1px solid #ccc; width: 100%; }
th { border: 1px solid #ccc; }
td { text-align: center; }
tr { border: 1px solid #eee; }

header { padding: 0px; display: block; margin-bottom: 18px; }
header > nav { float: right; font-size: 16px; line-height: 60px; }
header > nav > a { color: #ccc; display: inline-block; padding: 0 8px; text-decoration: none; }
header > nav > a:hover { background: rgba(255, 255, 255, 0.2); }

section { padding: 10px; }
#compatibility { font-size: 10px; width: 200px; float: right; display: block; }

#logo { height: 60px; cursor: pointer; border: 0; }

#banner { 
	height: 300px; width: 780px; margin: 0;	
}
#content {
	background: #eee; padding: 10px;
}

.buy-now { 
	background: #a62800; color: #ccc; font-size: 20px; 
	font-weight: bold; border-radius: 4px; border: 1px solid #ccc;
	text-decoration: none; text-align: center;
	display: inline-block; padding: 4px 8px;
	float: right;
}

.buy-now:hover {
	background: #ff6e40;
}

footer { text-align: center; }
footer > img { margin: 10px 0 4px 0; }
footer > p { padding: 0; margin: 0; font-size: 10px; }

canvas { width: 640px; height: 480px; margin: 30px auto; display: block; background: #000; }

#assets { display: none; }

